In [2]:
import pandas as pd

https://www.crimestatistics.vic.gov.au/crime-statistics/latest-victorian-crime-data/download-data

In [4]:
# Load the Excel file to inspect the available sheets
file_path = 'data/raw/Data_Tables_LGA_Recorded_Offences_Year_Ending_June_2024.xlsx'
xls = pd.ExcelFile(file_path)

# List all sheet names to identify "Table 02"
sheet_names = xls.sheet_names
sheet_names

['Contents',
 'Footnotes',
 'Table 01',
 'Table 02',
 'Table 03',
 'Table 04',
 'Table 05',
 'Table 06']

In [6]:
df_raw = pd.read_excel(file_path, sheet_name='Table 01')
df_raw

,Year,Year ending,Police Region,Local Government Area,Offence Count,"Rate per 100,000 population"
0,2024,June,1 North West Metro,Banyule,8929,6708.126083
1,2024,June,1 North West Metro,Brimbank,17551,8856.435232
2,2024,June,1 North West Metro,Darebin,14621,9172.670623
3,2024,June,1 North West Metro,Hobsons Bay,6416,6760.139376
4,2024,June,1 North West Metro,Hume,20132,7444.876870
...,...,...,...,...,...,...
865,2015,June,4 Western,Total,74737,7857.458261
866,2015,June,Justice Institutions and Immigration Facilities,Justice Institutions and Immigration Facilities,1041,NaN
867,2015,June,Justice Institutions and Immigration Facilities,Total,1041,NaN
868,2015,June,Unincorporated Vic,Unincorporated Vic,127,NaN
869,2015,June,Unincorporated Vic,Total,127,NaN

In [7]:
df_raw.to_csv('data/curated/crime_v1.csv')

In [20]:
nan_rate_rows = df_raw[df_raw['Rate per 100,000 population'].isna()]
nan_rate_rows.head(10)

,Year,Year ending,Police Region,Local Government Area,Offence Count,"Rate per 100,000 population"
83,2024,June,Justice Institutions and Immigration Facilities,Justice Institutions and Immigration Facilities,1798,NaN
84,2024,June,Justice Institutions and Immigration Facilities,Total,1798,NaN
85,2024,June,Unincorporated Vic,Unincorporated Vic,142,NaN
86,2024,June,Unincorporated Vic,Total,142,NaN
170,2023,June,Justice Institutions and Immigration Facilities,Justice Institutions and Immigration Facilities,2440,NaN
171,2023,June,Justice Institutions and Immigration Facilities,Total,2440,NaN
172,2023,June,Unincorporated Vic,Unincorporated Vic,101,NaN
173,2023,June,Unincorporated Vic,Total,101,NaN
257,2022,June,Justice Institutions and Immigration Facilities,Justice Institutions and Immigration Facilities,1799,NaN
258,2022,June,Justice Institutions and Immigration Facilities,Total,1799,NaN

In [27]:
df = df_raw[['Local Government Area', 'Year', 'Rate per 100,000 population']]
df['Local Government Area'] = df['Local Government Area'].str.strip()  # Remove any leading/trailing whitespace
df = df[~df['Local Government Area'].isin(['Total', 'Justice Institutions and Immigration Facilities', 'Unincorporated Vic'])]
df.head()

/tmp/ipykernel_8507/4140046855.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Local Government Area'] = df['Local Government Area'].str.strip()  # Remove any leading/trailing whitespace

  Local Government Area  Year  Rate per 100,000 population
0               Banyule  2024                  6708.126083
1              Brimbank  2024                  8856.435232
2               Darebin  2024                  9172.670623
3           Hobsons Bay  2024                  6760.139376
4                  Hume  2024                  7444.876870

In [32]:
df['Local Government Area'] = df['Local Government Area'].str.lower()  # Convert to lowercase
df = df.sort_values(by=['Local Government Area', 'Year'])
df

    Local Government Area  Year  Rate per 100,000 population
798                alpine  2015                  3572.290611
711                alpine  2016                  3378.915567
624                alpine  2017                  2987.309845
537                alpine  2018                  3899.547652
450                alpine  2019                  4657.470552
..                    ...   ...                          ...
429          yarriambiack  2020                  8312.001205
342          yarriambiack  2021                  6298.003072
255          yarriambiack  2022                  6571.384185
168          yarriambiack  2023                  7168.570981
81           yarriambiack  2024                  8609.398034

[790 rows x 3 columns]

In [33]:
df.to_csv('data/curated/crime_by_lga.csv')