In [13]:
import pandas as pd
import geopandas as gpd

https://public.opendatasoft.com/explore/dataset/georef-australia-state-suburb/export/?disjunctive.ste_code&disjunctive.ste_name&disjunctive.lga_code&disjunctive.lga_name&disjunctive.scc_code&disjunctive.scc_name&refine.ste_name=Victoria

Select Victoria, download shp for selected records

In [23]:
# Read the shapefile
shapefile_path = 'data/raw/georef-australia-state-suburb/georef-australia-state-suburb-millesime.shp'
gdf = gpd.read_file(shapefile_path)

# Display the first few records to understand its structure
gdf.head()

,year,ste_code,ste_name,lga_code,lga_name,scc_code,scc_name,scc_area_co,scc_type,geometry
0,2021,['2'],['Victoria'],['20830'],['Baw Baw'],['20024'],['Allambee'],AUS,suburb,"POLYGON ((146.00107 -38.32214, 146.00154 -38.3..."
1,2021,['2'],['Victoria'],['22830'],['Greater Shepparton'],['20063'],['Ardmona'],AUS,suburb,"POLYGON ((145.27748 -36.41085, 145.27738 -36.3..."
2,2021,['2'],['Victoria'],['23940'],['Loddon'],['20069'],['Arnold (Vic.)'],AUS,suburb,"POLYGON ((143.86374 -36.70341, 143.86033 -36.7..."
3,2021,['2'],['Victoria'],['25990'],['Pyrenees'],['20142'],['Barkly (Vic.)'],AUS,suburb,"POLYGON ((143.18182 -36.89766, 143.21350 -36.9..."
4,2021,['2'],['Victoria'],['25340'],['Mornington Peninsula'],['20169'],['Baxter'],AUS,suburb,"POLYGON ((145.15929 -38.18173, 145.16348 -38.1..."

In [24]:
import re

# Function to clean the strings by removing special characters and converting to lowercase
def clean_text(text):
    text = re.sub(r"[^a-zA-Z0-9\s]", "", text).lower()  # Remove special characters
    return text.strip()

# Apply the function to clean both lga_name_lower and scc_name_lower columns
gdf['lga'] = gdf['lga_name'].apply(lambda x: clean_text(str(x)))
gdf['suburb'] = gdf['scc_name'].apply(lambda x: clean_text(str(x)))
lga_data = gdf[['suburb', 'lga']]

In [25]:
lga_data.head()

       suburb                   lga
0    allambee               baw baw
1     ardmona    greater shepparton
2  arnold vic                loddon
3  barkly vic              pyrenees
4      baxter  mornington peninsula

In [26]:
# Create a function to remove " vic" from suburb names
def remove_vic_suffix(suburb):
    if suburb.endswith(" vic"):
        return suburb.replace(" vic", "")
    return suburb

# Assuming the DataFrame is named 'lga_data' based on the screenshot
lga_data['suburb'] = lga_data['suburb'].apply(remove_vic_suffix)

/tmp/ipykernel_4647/4227038433.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lga_data['suburb'] = lga_data['suburb'].apply(remove_vic_suffix)

In [27]:
lga_data

              suburb                   lga
0           allambee               baw baw
1            ardmona    greater shepparton
2             arnold                loddon
3             barkly              pyrenees
4             baxter  mornington peninsula
...              ...                   ...
2947       woomelang          yarriambiack
2948      wycheproof                buloke
2949     yallaypoora                ararat
2950       yallambie               banyule
2951  yarragon south               baw baw

[2952 rows x 2 columns]

In [28]:
lga_data.to_csv('data/curated/suburb_to_lga.csv')